.content {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 100vh;
    position: absolute;
    left: 0;

}

.information {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #FFFFFF;
}

input {
    border-radius: 22px;
    min-width: 200px;
    margin-right: 12px;
    width: 40%;/*---------------------------*/
    border: 1px solid #999999;
    background: transparent;
    font-size: 18px;
    padding: 10px;
    color: #FFFFFF;
}

button {
    border: 1px solid #999999;
    border-radius: 22px;
    margin-right: 12px;
    background: #2D333B;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px;
}

button:hover {
    border: 1px solid #FFFFFF;
    background: rgba(45, 51, 59, .6);
    color: #bde218;
    cursor: pointer;
}

.perfil {
    display: flex;
    margin: 40px 0;

}

.profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #E5E5E5;
    margin-right: 32px;
}

.perfil h3 {
    color: #999999;
    font-size: 24px;
    margin: 0;
}

.perfil span {
    display: block;
    color: #999999;
    font-size: 12px;
    margin: 0;
}

.perfil p {
    color: #999999;
    font-size: 12px;
    margin: 20px 0 0 0;
}


.repos {
    font-size: 32px;
    color: #FFFFFF;
    margin: 12px 0;
    text-align: center;
}